{
    "pve": {
        "host": "https://pve.isenlabs.fr",
        "token": "your_token"
    },
    "vms_options": {
        "start_index": 2000,
        "os_template": "template-debian-12.0-standard_12.0-1_amd64.tar.gz",
        "node": "pve",
        "onboot": true,
        "cores": 1,
        "memory": 768,
        "disk": 8,
        "storage": "local-lvm",
        "net_speed": 10,
        "io_speed": 10000
    },
    "db_options": {
        "host": "localhost",
        "port": 3306,
        "user": "my_user",
        "password": "my_password",
        "database": "my_database"
    },
    "auth":{
        "lazy_api": "https://lazy-api.mysite.fr"
    }
}