{
    "pve": {
        "host": "https://pve.isenlabs.fr",
        "token_id": "userid@pam!tokenname",
        "token_secret": "the-token-secret",
        "node":"pve-node-name"
    },
    "vms_options": {
        "start_index": 2000,
        "start_ip": "10.11.0.10",
        "os_template": "local:vztmpl/debian-12-standard_12.7-1_amd64.tar.zst",
        "onboot": true,
        "cores": 1,
        "memory": 768,
        "disk": 10,
        "storage": "local-lvm",
        "bridge": "vmbr1",
        "net_speed": 10,
        "io_speed": 10000,
        "gateway": "10.11.0.1"
    },
    "db_options": {
        "host": "localhost",
        "port": 3306,
        "user": "my_user",
        "password": "my_password",
        "database": "my_database"
    },
    "auth":{
        "lazy_hostname": "https://lazy-api.mysite.fr",
        "lazy_route": "/api/user",
        "cors_frontend": "http://localhost:5173"
    },
    "webserver":{
        "port":3333
    }
}